{% extends 'dashboard/base.html'%}
{% block style %}
<style>
  .dropzone {
    border: dashed 4px #ddd !important;
    background-color: #f2f6fc;
    border-radius: 15px;
  }

  .dropzone .dropzone-container {
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8c96a8;
    z-index: 20;
  }

  .dropzone .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }

  .file-icon {
    font-size: 60px;
  }

  .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 8px 0px;
  }

  .hr-sect:before,
  .hr-sect:after {
    content: "";
    flex-grow: 1;
    background: #ddd;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }
</style>
{%endblock%}

{% block content %}
<div class="container">
  <div class="shadow p-3 mb-5 bg-body rounded">تعریف نوع شاخص جدید</div>
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div
      class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show"
      role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">

    <form class="needs-validation" novalidate="" method="POST">
      {%csrf_token%}
      <div class="row g-3">
        <div class="col-md-12">
          <label for="record_id" class="form-label">شماره پرسنلی</label>
          <input class="form-control"type="text" id="username" name="username" value="{{currentid}}">
          <div class="feedback" style="font-size: 0.8rem;">
            آخرین شماره پرسنلی: {{latestid}}
          </div>        
      </div>

        <div class="col-md-6">
          <label for="record_id" class="form-label">نام</label>
          {{form.name}}
      </div>
        
        <div class="col-md-6">
          <label for="record_id" class="form-label">نام خانوادگی</label>
          {{form.f_name}}
      </div>


      <h5>رمز عبور</h5>
      <div class="col-md-6">          
        <div class="input-group flex-nowrap">
          <input type="password" class="form-control middle pwd" placeholder="رمز عبور" aria-label="Username" aria-describedby="addon-wrapping" name="password1">
          <span class="input-group-text bg-white reveal" id="addon-wrapping">
            <i class="bi bi-eye-slash password-hide"></i>
            <i class="bi bi-eye password-show"></i>
          </span>
        </div>
      </div>
        <div class="col-md-6">          
          <div class="input-group flex-nowrap">
            <input type="password" class="form-control middle pwd" placeholder="تکرار رمز عبور" aria-label="Username" aria-describedby="addon-wrapping" name="password2">
            <span class="input-group-text bg-white reveal" id="addon-wrapping">
              <i class="bi bi-eye-slash password-hide"></i>
              <i class="bi bi-eye password-show"></i>
            </span>
          </div>
        </div>



      </div>

      <button class="w-100 btn btn-primary btn-lg mt-5" type="submit">ثبت نام</button>
    </form>
  </div>
  <!-- </div> -->
</div>
{%endblock%}
{%block script%}
<script>
  $(".password-hide").hide();
  $(".reveal").on('click',function() {
    var $pwd = $(".pwd");
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
        $(".password-hide").show();
        $(".password-show").hide();

    } else {
        $pwd.attr('type', 'password');
        $(".password-hide").hide();
        $(".password-show").show();

    }
});
</script>
{%endblock%}