{% extends 'dashboard/base.html'%}

{%block style%}
<style>
    .dropdown > .btn {
        width: 30px !important;
        height: 30px !important;
        padding: 0 !important;
        border: none !important;
    }

    .dropdown-menu {
        min-width: 100px !important;
    }

    .dropdown-item {
        padding: 0px 5px !important;
        font-size: 12px !important;
    }
</style>
{%endblock%}

{% block content %}
<div class="container">
    <div class="shadow p-3 mb-5 bg-body rounded ml-3">انواع شاخص ها
        <a href="{% url 'indicators-create'%}" class="btn btn-outline-primary btn-sm pr-3">جدید</a>
    </div>

    <div class="container">
        <div class="row">
            {% for in in indicators %}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">{{ in.item_type }}</h5>

                            <div class="dropdown">
                                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg width="12" height="14" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-light bg-light">
                                    <li><a class="dropdown-item" href="{% url 'indicators-edit' in.id %}">ویرایش</a></li>
                                    <!-- <li><a class="dropdown-item text-warning" href="#">report</a></li> -->
                                    <li><hr class="dropdown-divider border-top border-secondary"></li>
                                    <li><a class="dropdown-item text-danger" href="{% url 'indicators-delete' in.id %}">حذف</a></li>
                                </ul>
                            </div>

                        </div>
                        <p class="card-text">{{ in.description }}</p>
                        <a href="#" class="btn btn-primary">مشاهده شاخص های موجود</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="shadow p-3 mb-5 bg-body rounded ml-3 mt-5">شاخص ها
        <a href="{% url 'indicator-items-create'%}" class="btn btn-outline-primary btn-sm pr-3">جدید</a>
    </div>

    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام</th>
                    <th scope="col">نوع شاخص</th>
                    <th scope="col">مقدار پیشفرض</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {%for it in indicatoritems %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ it.item }}</td>
                    <td>{{ it.in_id }}</td>
                    <td>{{ it.default_effect }}</td>
                    <td>                            <div class="dropdown">
                        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg width="12" height="14" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light bg-light">
                            <li><a class="dropdown-item" href="{% url 'indicator-items-edit' it.id %}">ویرایش</a></li>
                            <!-- <li><a class="dropdown-item text-warning" href="#">report</a></li> -->
                            <li><hr class="dropdown-divider border-top border-secondary"></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'indicator-items-delete' it.id %}">حذف</a></li>
                        </ul>
                    </div></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}