{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beh App - {%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    
    {% load bootstrap5 %}
    <!-- {% bootstrap_css %} -->
    {% bootstrap_javascript %}
    
</head>
{%block style%}

{%endblock%}
<body>
    {%block content%}
    {%endblock%}
    
    {%block script%}
    {%endblock%}
</body>
</html>