<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">داشبورد مدیریت</a>

        <div class="btn-group dropstart">
            <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                نام کاربری
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">خروج</a></li>
                <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
                <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
        </div>

    </div>
</nav>