<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">داشبورد مدیریت</a>

        <div class="btn-group dropstart">
            <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user.name}} {{request.user.f_name}}
            </button>
            <ul class="dropdown-menu">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}

                    <li><button class="dropdown-item" type="submit">خروج</button></li>
                </form>
                <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
                <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
        </div>

    </div>
</nav>