<nav class="sidenav d-flex flex-column p-3 shadow">
    <h5>ارزیابی</h5>
    <hr>
    <ul class="nav nav-pills flex-column">
        {% if request.user.user_type == 1 or request.user.user_type == 2 %}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'daily-evaluation'%}">ارزیابی روزانه</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'personnel'%}">پرسنل</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'groups'%}">گروه ها</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'indicators'%}">شاخص ها</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'substitute'%}">جانشین</a>
        </li>
        {%endif%}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'logs'%}">گزارش</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'reports'%}">کارنامه</a>
        </li>
        <!-- <li class="nav-item">
            
            <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#usersSubmenu" role="button" aria-expanded="false" aria-controls="usersSubmenu">
                <span><i class="bi bi-calendar"></i> ارزیابی روزانه </span>
            </a>
            <div class="collapse" id="usersSubmenu">
                <ul class="nav flex-column collapse-inner">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="#"><i class="bi bi-people submenu-icon"></i>All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="#"><i class="bi bi-person-plus submenu-icon"></i>Add New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="#"><i class="bi bi-person-check submenu-icon"></i>User Roles</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#usersSubmenu" role="button" aria-expanded="false"
                aria-controls="usersSubmenu">
                Users
            </a>
            <div class="collapse" id="usersSubmenu">
                <ul class="nav flex-column collapse-inner">
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">User Roles</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#settingsSubmenu" role="button" aria-expanded="false"
                aria-controls="settingsSubmenu">
                Settings
            </a>
            <div class="collapse" id="settingsSubmenu">
                <ul class="nav flex-column collapse-inner">
                    <li class="nav-item">
                        <a class="nav-link" href="#">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Security</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li> -->
    </ul>
</nav>