{% extends 'dashboard/base.html' %}

{%block content%}
<div class="container">

<div class="shadow p-3 mb-5 bg-body rounded d-flex justify-content-between"><span class="mr-3">
    مدیران بالاسری        <a href="{% url 'overheads-create'%}" class="btn btn-outline-primary btn-sm pr-3">جدید</a>
</span><a href="{% url 'home'%}" class="btn btn-outline-primary btn-sm">بازگشت</a>
</div>

<input class="form-control" id="myInput" type="text" placeholder="جستجو">
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>نام و نام خانوادگی</th>
            <th>کد پرسنلی</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for i in data %}

        <tr>
            <td>{{i.name}} {{i.f_name}}</td>
            <td>{{i.username}}</td>
            <td> <a href="{% url 'overheads-details' i.id%}" class="btn btn-primary btn-sm w-100">مشاهده</a>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>
</div>
{%endblock%}


{%block script%}
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{%endblock%}