{% extends 'dashboard/base.html' %}


{% block content %}
<div class="container">
    <div class="shadow p-3 mb-5 bg-body rounded">افزودن مدیر بالاسری</div>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show"
            role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <form class="needs-validation" novalidate="" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-12">
                    <label for="id_pid" class="form-label">پرسنل<span style="color: red;">*</span></label>
                    {{ form.pid }}
                </div>

                <div class="col-md-12">
                    <label for="id_overhead_level" class="form-label">شماره سطح بالاسری<span style="color: red;">*</span></label>
                    {{ form.overhead_level }}
                </div>

                <div class="col-md-12">
                    <label for="id_overhead_id" class="form-label">بالاسری<span style="color: red;">*</span></label>
                    {{ form.overhead_id }}
                </div>
            </div>

            <button class="w-100 btn btn-primary btn-lg mt-5 mb-5" type="submit">ذخیره</button>
        </form>
    </div>
</div>

{% block script %}
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        jalaliDatepicker.startWatch();
    });
</script>
{% endblock %}
{% endblock %}
